{%  load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-glass">Зарегистрироваться</button>
  </form>
  <script>
    const score = localStorage.getItem("score");
    if (score) {
        // Найдём input, созданный формой Django:
        const input = document.querySelector('input[name="score"]');
        if (input) {
            input.value = score;
        }
    }
</script>
</body>
</html>